[submodule "FineNav_ExternPack/Driver/Unitree_L1"]
	path = fn_driver/Unitree_L1
	url = https://gitee.com/huigg-practice/unitree_l1_driver.git
[submodule "FineNav_ExternPack/Driver/Livox_Mid360"]
	path = fn_driver/Livox_Mid360
	url = https://gitee.com/huigg-practice/livox_ros_driver2.git
[submodule "FineNav_ExternPack/LIO/Fast_LIO"]
	path = fn_localization/Fast_LIO
	url = https://github.com/huigg296/FAST_LIO.git
[submodule "FineNav_ExternPack/Fines_Node"]
	path = fn_driver/Fines_Node
	url = https://gitee.com/huigg-practice/Fines_Node.git
